<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
            <rewrite>
            <rules>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
                <rule name="ReverseProxyInbound_Login" stopProcessing="false">
                    <match url="api/LoginService(.*)" />
                    <action type="Rewrite" url="http://172.19.10.119:10001/{R:0}" />
                </rule>
                <rule name="ReverseProxy_OrderAppMobile" stopProcessing="false">
                    <match url="api/OrderAppMobile(.*)" />
                    <action type="Rewrite" url="http://localhost:10029/{R:0}" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
