<mat-toolbar *ngIf="isOnline" color="accent" class="header">
  <span>Angular PWA Example - Online</span>
</mat-toolbar>
<mat-toolbar *ngIf="!isOnline" color="warn" class="header">
  <span>Angular PWA Example - Offline</span>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN.</th>
    <td
      [ngStyle]="getStyle(element.addedOffline)"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.isbn }}
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
    <td
      [ngStyle]="getStyle(element.addedOffline)"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Veröffentlicht</th>
    <td
      [ngStyle]="getStyle(element.addedOffline)"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.published | date : "yyyy.MM.dd HH:mm" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Preis</th>
    <td
      [ngStyle]="getStyle(element.addedOffline)"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.price }}
    </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
    <td
      [ngStyle]="getStyle(element.addedOffline)"
      mat-cell
      *matCellDef="let element"
    >
      {{ element.rating }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="col"></tr>
  <tr mat-row *matRowDef="let row; columns: col"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[20, 40, 60]"
  showFirstLastButtons
></mat-paginator>

<button
  style="float: right; margin: 5px"
  mat-raised-button
  color="primary"
  type="submit"
  (click)="showEstimatedQuota()"
>
  Log Estimated Quota
</button>
<button
  style="float: right; margin: 5px"
  mat-raised-button
  color="primary"
  type="submit"
  (click)="getIndexedDbItems()"
>
  Log Db Data
</button>
<button
  style="float: right; margin: 5px"
  mat-raised-button
  color="primary"
  type="submit"
  (click)="loadBooks()"
>
  Reload books
</button>

<app-book-form (addBookEvent)="addBookEventHandler()"></app-book-form>
